@import "navbar.css";

.bible-tiles {
  background: url(../images/cross.jpg) center center/cover no-repeat;
  height: 600px;
  width: 100%;
  padding: 30px;
}
.bible-tiles .btn {
  height: 100%;
  width: 48%;
  font-size: 80px;
  background: #5b5e73;;
  border-radius: 5px;
  opacity: 0.4;
  color: #fff;
  text-align: center;
}

.btn-new {
  float: right;
  padding-left: 15px;
  padding-top: 50px;
}

.btn-old {
  float: left;
  padding-right: 15px;
  padding-top: 50px;
}

.bible-tiles a:hover {
  opacity: 0.9;
  text-align: center;
}

